body{
    background-color: #242b22;
    color: #FFF;
}

/* body, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, button{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    color:azure;
    background-color: #20442b;
    padding: 5px;
    margin: 20 ;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
} */